.about {
  display: flex;
  flex-direction: column;

  .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    width: 100%;
    max-width: 276px;
    height: 146px;
    padding: -5px;

    font-size: 20px;
    color: map-get($colors, 'white');
    background-color: rgb(112, 107, 107);
    border: 3px solid map-get($colors, 'white');
    outline: 1px solid map-get($colors, 'black');

    @media screen and (max-width: 479px) {
      margin: 0 auto 15px;
    }
    @media screen and (min-width: 480px) {
      width: 276px;
    }
  }
  .about-text {
    color: map-get($colors, 'secondText');
    flex-grow: 1;
  }
}
.link-more {
  display: flex;
  justify-content: flex-end;
  color: map-get($colors, 'accent');
  @media screen and (max-width: 479px) {
    margin: 15px 0;
  }

  .span {
    margin-left: 3px;
  }
}
.link-more:focus,
.link-more:hover {
  color: map-get($colors, 'black');
}
