.review {
  .review_name {
    display: inline-flex;
    align-items: center;
  }
  .review_name::before {
    content: '';
    width: 79px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../img/svg/quote-svgrepo-com.svg');
  }

  .item:not(:last-child) {
    margin-bottom: 5px;
  }

  .link-more {
    margin-top: 5px;
  }
  .link-more:hover,
  .link-more:focus {
    color: map-get($colors, 'black');
  }
  .span {
    margin-left: 3px;
  }
}

.review-span {
  font-weight: normal;
}
