.review {
  padding-top: 10px;
  .review_name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
    color: map-get($colors, 'gray');
  }
  .review_item {
    @media screen and (min-width: 768px) {
      background-image: url('../img/svg/quote-svgrepo-com.svg');
      background-repeat: no-repeat;
      background-position: 1% 1%;
      background-size: contain;
    }
  }
  .item:not(:last-child) {
    margin-bottom: 5px;
  }
  .text {
    color: map-get($colors, 'secondText');
  }
  .link-more {
    margin-top: 5px;
  }
  .link-more:hover,
  .link-more:focus {
    color: map-get($colors, 'black');
  }
  .span {
    margin-left: 3px;
  }
}

.review-span {
  color: map-get($colors, 'secondText');
  font-weight: normal;
}
