.review {
  .review_name {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 25px;
    padding-top: 10px;

    font-weight: 700;
    font-size: 15px;
    color: map-get($colors, 'secondText');
  }
  .review_item {
    @media screen and (min-width: 768px) {
      background-image: url('../img/quotes.png');
      background-repeat: no-repeat;
      background-position: 1% 1%;
      background-size: 55px, contain;
    }
  }
  .item:not(:last-child) {
    margin-bottom: 5px;
  }
  .text {
    color: map-get($colors, 'secondText');
  }
  .link-more {
    margin-top: 5px;
  }
  .link-more:hover,
  .link-more:focus {
    color: map-get($colors, 'black');
  }
  .span {
    margin-left: 3px;
  }
}

.review-span {
  color: map-get($colors, 'secondText');
  font-weight: normal;
}
