.services {
  .services-title {
    margin-bottom: 23px;
    font-size: 25px;
    line-height: 1.21;
    letter-spacing: 0.05em;
  }
  .services_list {
    .services_item {
      display: flex;
      margin-bottom: 20px;

      color: map-get($colors, 'secondText');
    }
    .services_title_secong {
      margin-bottom: 5px;
      color: map-get($colors, 'gray');
    }
  }
  .link:hover,
  .link:focus {
    color: map-get($colors, 'black');
  }
  .span {
    margin-left: 3px;
  }
}

.services_img {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-right: 15px;
  min-width: 64px;
  height: 64px;
  font-size: 14px;

  background-color: rgb(112, 107, 107);
  color: map-get($colors, 'white');
}
