%flexboxcentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
%transition {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  cursor: pointer;
}

$colors: (
  'accent': #a7c353,
  'firstText': #434343,
  'secondText': #dedede,
  'black': black,
  'white': white,
  'gray': gray,
  'footerText': rgb(211, 204, 204),
  'backForm': rgba(88, 88, 92, 0.692),
);

$fontWeight: (
  'normal': 400,
  'medial': 500,
  'bold': 700,
  'big': 900,
);

$letterSpacing: (
  'little': 0.01em,
  'small': 0.02em,
  'more': 0.03em,
  'most': 0.06em,
);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

//All style

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-nav-email);
  background-color: rgb(112, 107, 107);
  font-family: 'Saira Condensed', sans-serif;
  letter-spacing: map-get($letterSpacing, 'more');
}
ul {
  list-style: none;
}
button {
  font-family: inherit;
}
textarea {
  resize: none;
}
img {
  max-width: 100%;
}
svg {
  max-width: 100%;
}
::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.title {
  margin: 0;
  padding: 0;
}
.list {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.text {
  margin: 0;
  padding: 0;
}

.button {
  color: map-get($colors, 'black');
  background-color: map-get($colors, 'accent');
  border-radius: 4px;
  // @extend %transition;
  cursor: pointer;
  border: none;
}

// all-class-style

.container {
  max-width: 960px;
  margin: 0 auto;

  padding: 30px 15px 0;

  background-color: white;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-top: 5px;
}

.section {
  margin-left: 20px;
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 20px);
  }
  @media screen and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 15px);
  }
}
.three-group {
  padding-bottom: 30px;
}
.text-group {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.07em;
}
.link-more {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.07em;
}
.footer-title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid map-get($colors, 'gray');
  color: map-get($colors, 'white');

  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.07em;
}
.footer-set {
  display: flex;
  flex-wrap: wrap;

  margin-right: -20px;
}
.footer-article {
  margin-right: 20px;

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 20px);
  }
  @media screen and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 15px);
  }
}

.footer {
  max-width: 1000px;
  padding: 35px 20px 10px;
  background-color: #2d2d2d;
}

.texteria {
  font-size: revert;
}

//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }
// }
// .section {
//   @media screen and(max-width:1199px) {
//     padding-bottom: 60px;
//     padding-top: 60px;
//   }
//   @media screen and (min-width: 1200px) {
//     padding-bottom: 94px;
//     padding-top: 94px;
//   }
// }
