.hero {
  position: relative;
  padding-top: 50px;
  .hero_img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    margin: 0 auto;
    height: 350px;
    background-color: rgb(112, 107, 107);
    color: white;

    font-size: 40px;
  }
  .hero-title {
    font-style: italic;
    margin: 0 auto 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero_box {
  position: absolute;
  bottom: 110px;
  right: 60px;
  width: 300px;

  .hero-box_title {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'white');
    margin-bottom: 20px;
  }
  .hero-box_description {
    background-color: map-get($colors, 'white');
    padding-left: 15px;
  }
}

.hero-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0 30px;
  border-bottom: 1px solid rgb(112, 107, 107);

  .hero-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px;
  }
  .hero-button:not(:last-child) {
    margin-right: 10px;
  }
  .hero-button:hover,
  .hero-button:focus {
    border: 4px solid map-get($colors, 'accent');
    background-color: map-get($colors, 'white');
  }
}

.btn-left {
  position: absolute;
  top: 305px;
  left: 30px;
  @extend %transition;

  .svg-icon {
    fill: map-get($colors, 'white');
  }
}
.btn-left:hover {
  .svg-icon {
    @extend %transition;
    fill: map-get($colors, 'accent');
  }
}
.btn-right {
  position: absolute;
  top: 305px;
  right: 30px;
  @extend %transition;
  .svg-icon {
    fill: map-get($colors, 'white');
  }
}
.btn-right:hover {
  .svg-icon {
    @extend %transition;
    fill: map-get($colors, 'accent');
  }
}
