.hero {
  position: relative;

  @media screen and (min-width: 480px) {
    padding-top: 48px;
  }

  .hero_img {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 920px;
    height: 250px;
    margin: 0 auto;

    background-color: rgb(112, 107, 107);
    color: white;

    font-size: 40px;

    @media screen and (min-width: 480px) {
      height: 350px;
    }
  }
  .hero-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin: 0 auto 20px;

    font-style: italic;
    font-size: 19px;
    letter-spacing: 0.07em;

    @media screen and (min-width: 768px) {
      margin: 0 auto 40px;
      padding: 0 75px;

      font-size: 22px;
    }
  }
}
.hero_box {
  @media screen and (max-width: 479px) {
    margin: 10px auto;
  }
  @media screen and (min-width: 480px) {
    position: absolute;
    bottom: 100px;

    width: 351px;
  }
  @media screen and (max-width: 767px) {
    right: 82px;
  }
  @media screen and (min-width: 768px) {
    right: 175px;
  }

  .hero-box_title {
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'white');

    line-height: 1.31;
    letter-spacing: 0.07em;

    @media screen and (max-width: 479px) {
      font-size: 18px;
    }

    @media screen and (min-width: 480px) {
      font-size: 24px;
      height: 40px;
    }
  }

  .hero-box_description {
    background-color: map-get($colors, 'white');

    font-size: 12px;
    line-height: 1.31;
    letter-spacing: 0.08em;

    @media screen and (min-width: 480px) {
      height: 68px;
      font-size: 12px;
      padding: 15px;
    }
  }
}

.hero-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 479px) {
    padding-bottom: 5px;
  }
  @media screen and (min-width: 480px) {
    padding: 20px 0 40px;
  }

  border-bottom: 1px solid map-get($colors, 'secondText');

  .hero-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px;
  }
  .hero-button:not(:last-child) {
    margin-right: 5px;
  }
  .hero-button:hover,
  .hero-button:focus {
    border: 4px solid map-get($colors, 'accent');
    background-color: map-get($colors, 'white');
  }
}

.btn-left {
  position: absolute;
  top: 279px;
  left: 31px;

  @extend %transition;

  .svg-icon {
    fill: map-get($colors, 'accent');
  }
}
.btn-left:hover {
  .svg-icon {
    @extend %transition;
    fill: map-get($colors, 'white');
  }
}
.btn-right {
  position: absolute;
  top: 279px;
  right: 31px;

  @extend %transition;
  .svg-icon {
    fill: map-get($colors, 'accent');
  }
}
.btn-right:hover {
  .svg-icon {
    @extend %transition;
    fill: map-get($colors, 'white');
  }
}
