.header {
  border-top: 5px solid map-get($colors, 'accent');
}
.main-nav {
  display: flex;
  align-items: center;

  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: white;

  border-bottom: 1px solid map-get($colors, 'accent');
}
.site-nav {
  display: flex;
  margin-left: auto;

  .site-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-nav__link {
    @extend %transition;
    padding: 22px 10px 20px;
    color: map-get($colors, 'black');
  }

  .site-nav__item:hover,
  .site-nav__item:focus {
    @extend %transition;

    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'white');
  }
}

.logo-span {
  text-transform: uppercase;
  font-size: 28px;

  line-height: 1.5;
}
.logo {
  color: map-get($colors, 'black');
  font-family: 'Montserrat', sans-serif;
}
