.header {
  border-top: 5px solid map-get($colors, 'accent');
}
.main-nav {
  display: flex;
  align-items: center;

  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: white;

  border-bottom: 1px solid map-get($colors, 'accent');
}
.site-nav {
  display: flex;
  margin-left: auto;

  .site-nav__item {
    margin: 30px 0 20px;
  }

  .site-nav__link {
    color: map-get($colors, 'black');
    padding: 30px 25px 18px 25px;
  }

  .site-nav__link:hover,
  .site-nav__link:focus {
    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'white');
  }
}

.logo {
  color: map-get($colors, 'black');
  font-family: 'Montserrat', sans-serif;
}
// .logo-span {
// }
