.header {
  border-top: 5px solid map-get($colors, 'accent');
}
.main-nav {
  display: flex;
  align-items: center;

  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: map-get($colors, 'white');
  border-bottom: 2px solid map-get($colors, 'accent');
}
.site-nav {
  display: flex;
  margin-left: auto;

  .site-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-nav__link {
    padding: 40px 23px 27px;

    font-size: 15px;
    line-height: 1.31;
    letter-spacing: 0.057em;
    color: map-get($colors, 'secondText');

    @extend %transition;
  }
  .li_gallery {
    padding-right: 12px;
  }

  .site-nav__item:hover,
  .site-nav__item:focus {
    @extend %transition;

    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'white');
  }
}

.logo {
  color: map-get($colors, 'firstText');
  font-family: 'Montserrat', sans-serif;
  .logo-span {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 0.1;
  }
  .logo-span-e {
    font-size: 10px;
    letter-spacing: 0.07em;
  }
}
