.review {
  //   .review-title {
  //   }

  //   .review_list {

  //   }

  .review_item {
    margin-top: 15px;
  }
  //   .text {

  //   }
  .link-more {
    margin-top: 5px;
  }
}
// .review_name {
// }
.review-span {
  font-weight: normal;
}
