.blog-title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid map-get($colors, 'gray');
  color: map-get($colors, 'white');
}
.blog-list {
  .item {
    .title {
      color: map-get($colors, 'footerText');
      margin-bottom: 4px;
    }
    .text {
      color: map-get($colors, 'secondText');
    }
    .link {
      display: flex;
      justify-content: flex-end;

      color: map-get($colors, 'accent');
      cursor: pointer;
      @extend %transition;
      & .span {
        margin-left: 3px;
      }
    }
    .link:hover,
    .link:focus {
      @extend %transition;
      color: map-get($colors, 'white');
    }
  }
  .item:not(:last-child) {
    margin-bottom: 5px;
  }
}
