.contact-list {
  margin-bottom: 17px;

  .item:not(:last-child) {
    margin-bottom: 2px;
  }
  .link {
    font-size: 12px;
    color: map-get($colors, 'secondText');
  }
  .link:hover,
  .link:focus {
    color: map-get($colors, 'accent');
  }
}
.tel-footer {
  display: grid;
  margin-bottom: 15px;
  .link {
    font-size: 12px;
    color: map-get($colors, 'secondText');
    .span1 {
      color: map-get($colors, 'secondText');
    }
  }

  .link:hover,
  .link:focus {
    color: map-get($colors, 'secondText');

    .span1 {
      color: map-get($colors, 'accent');

      text-decoration: underline;
    }
    .span {
      color: map-get($colors, 'footerText');
      text-decoration: underline;
    }
  }

  .span {
    color: map-get($colors, 'accent');
  }
}
.time-list {
  .title {
    font-weight: 700;
    font-size: 12px;
    color: map-get($colors, 'secondText');
  }
  .text {
    font-size: 12px;
    color: map-get($colors, 'secondText');
  }
  .text:not(:last-child) {
    margin-bottom: 3px;
  }
}
