.form {
  .input {
    width: 100%;
    height: 35px;
    margin-bottom: 6px;
    padding-left: 10px;
    color: white;

    border: 1px solid map-get($colors, 'backForm');
    border-radius: 4px;
    outline: none;

    background-color: map-get($colors, 'backForm');
    cursor: pointer;
  }
  // .input::placeholder {
  //   font-size: 12px;
  //   color: map-get($colors, 'secondText');
  // }

  .input:not(:placeholder-shown):required:valid {
    border-color: map-get($colors, 'accent');
  }

  .input:not(:placeholder-shown):required:invalid {
    border-color: red;
  }

  .texteria {
    resize: none;
    width: 100%;
    height: 115px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;

    cursor: pointer;
    outline: none;
    border: 1px solid map-get($colors, 'backForm');
    color: map-get($colors, 'white');
    background-color: map-get($colors, 'backForm');
  }
  .texteria:not(:placeholder-shown):required:valid {
    border-color: map-get($colors, 'accent');
  }

  .texteria:not(:placeholder-shown):required:invalid {
    border-color: red;
  }
  .button {
    display: inline-flex;
    padding: 8px 18px;
    border: none;
    border-radius: 4px;

    background-color: map-get($colors, 'accent');
    color: map-get($colors, 'black');

    cursor: pointer;
    @extend %transition;
  }
  .button:focus,
  .button:hover {
    @extend %transition;
    color: map-get($colors, 'accent');
    background-color: map-get($colors, 'white');
  }
}
.form-title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid map-get($colors, 'backForm');
  color: map-get($colors, 'white');
}
